<!DOCTYPE html>


<html>
   	<head>
        
  	<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-49644108-1', 'mvblog.net');
  	ga('send', 'pageview');

	</script>

    </head>
    <body>
        <h1> Minimum Viable Blog </h1>
        <p> This Blog is an attempt to build a Blog from scratch, using <b>{{ framework }} </b> with <b> {{ language }} </b> on <b>{{ platform }} </b>.
        </p>
        <p> The plan is to document my learnings in much detail, especially when something doesn't work. Not being a programmer, the learning curve is bumpy. Sometimes it's due to the lack of a the whole picture, often I miss essential details. </p>
        <p> There are a lot of concepts I don't grasp fully yet, and many that I haven't even heard of. Also, don't expect the terminology used here to be correct. If it isn't, please let me know. This blog may be a good read if you have to ask similar questions as I do. </p>
        <p> It's less about the outcome and more about the process. This means content as well as appearance may change regularly. </p> 
        <p> While the domain <a href="http://mvblog.net"> mvblog.net </a> should be fairly stable (although neither clean nor elegant), <a href="http://beta.mvblog.net">beta.mvblog.net</a> is the experimental bit. Once I figured out how to set it up correctly, that is. There is also this <a href="https://github.com/CitiVince/mv-blog">github repository</a> that might eventually become useful. </p> 
        <p> A growing collection of useful resources on the web can be found here: <a href="/resources"> mvblog.net/resources</a>
        <p> If you can't bear the mistakes you see, feel free to support my learnings with your insights.<p>
    </body>
</html>
